<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>Detalhes do Cliente</title>
</head>

<body>
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
    </div>
</nav>

<main class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Detalhes do cliente</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card text-white bg-dark mb-3 card border-success mb-3" style="max-width: 18rem;">
                <h5 class="card-header" th:text="${cliente.nome}"></h5>
                <div class="card-body">
                    <p>
                        Profissão: <span th:text="${cliente.profissao}"></span>
                    </p>
                    <p>
                        Data de Nascimento: <span th:text="${#temporals.format(cliente.dataNascimento, 'dd/MM/yyyy')}"></span>
                    </p>
                    <a href="" class="btn btn-warning">Editar</a>
                    <a href="" class="btn btn-danger">Excluir</a>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
</script>
</body>

</html>