<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::title}, ~{::main})}" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Detalhes do Cliente</title>
</head>

<body>
<main class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Detalhes do cliente</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card text-white bg-dark mb-3 card border-success mb-3" style="max-width: 18rem;">
                <h5 class="card-header" th:text="${cliente.nome}"></h5>
                <div class="card-body">
                    <p>
                        Profissão: <span th:text="${cliente.profissao}"></span>
                    </p>
                    <p>
                        Data de Nascimento: <span th:text="${#temporals.format(cliente.dataNascimento, 'dd/MM/yyyy')}"></span>
                    </p>
                    <a th:href="@{/cliente/{id}/editar (id=${cliente.id})}" class="btn btn-warning">Editar</a>
                    <a th:href="@{/cliente/{id}/excluir (id=${cliente.id})}" class="btn btn-danger" onclick="return confirm('Excluir o cliente?');">Excluir</a>
                </div>
            </div>
        </div>
    </div>
</main>
</body>

</html>