<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::title}, ~{::main})}" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title th:text="${cliente.id == null ? 'Spring Fundamentos - Cadastrar novo cliente' : 'Spring Fundamentos - Editar cliente'}"></title>
</head>

<body>
<main class="container">
    <div class="row">
        <div class="col-sm-12">

            <!-- <h1 th:if="${cliente.id != null}">Editar cliente</h1>
            <h1 th:if="${cliente.id == null}">Cadastrar novo cliente</h1> -->
            <h1 th:text="${cliente.id == null ? 'Cadastrar novo cliente' : 'Editar cliente'}"></h1>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <form method="POST" th:object="${cliente}">
                <input type="hidden" th:field="*{id}">

                <!-- <div class="mb-3">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="nome" th:field="*{nome}">
                </div> -->
                <div th:replace="~{fragments/_bootstrap-fields :: input('nome', 'Nome', 'text')}"></div>

                <div class="row g-3">
                    <!-- <div class="col-sm-7">
                        <label for="dataNascimento" class="form-label">Data de Nascimento: </label>
                        <input type="date" class="form-control" id="dataNascimento" th:field="*{dataNascimento}">
                    </div> -->
                    <div class="col-sm-7">
                        <div th:replace="~{fragments/_bootstrap-fields :: input('dataNascimento', 'Data de Nascimento', 'date')}"></div>
                    </div>

                    <!-- <div class="col-sm">
                        <label for="profissao" class="form-label">Profissão: </label>
                        <input type="text" class="form-control" id="profissao" th:field="*{profissao}">
                    </div> -->
                    <div class="col-sm">
                        <div th:replace="~{fragments/_bootstrap-fields :: input('profissao', 'Profissao', 'text')}"></div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Salvar</button>
            </form>
        </div>
    </div>

</main>
</body>

</html>