<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::title}, ~{::main})}" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Spring Fundamentos</title>
</head>

<body>
<main class="container">

    <div class="row">
        <div class="col-sm-12">
            <h1>Olá, TreinaWeb</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p th:text="${boasVindas}"></p>
            <!-- <p>[[${boasVindas}]]</p> -->
            <!-- <p th:utext="${boasVindas}"></p> -->
        </div>
    </div>
    <div class="row">
    <div class="col-sm-12">
        <p>Lista de Aulas</p>
        <ul>
            <li th:each="aula: ${aulas}" th:text="${aula}"></li>
        </ul>
    </div>
    </div>
</main>
</body>

</html>