<!DOCTYPE html>
<html th:fragment="layout (title, main)" lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <title th:replace="${title}"></title>
</head>

<body>

<div th:replace="~{fragments/_navbar :: nav}"></div>

<main th:replace="${main}"></main>

<script th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>